body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

button {
    padding: 10px 15px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
}
