# =========================================
# IDE / INTELLIJ / JETBRAINS
# =========================================
/.idea/
*.iml
/shelf/
/workspace.xml
/httpRequests/
mavenHomeManager.xml
/dataSources/
/dataSources.local.xml

# =========================================
# NODE / BACKEND
# =========================================
backend/node_modules/
node_modules/
backend/functions/**/*.zip
backend/*.log

# ENV Files
.env
.env.local
.env.*.local

# JWT Keys
*.key
*.pem

# =========================================
# FRONTEND
# =========================================
frontend/node_modules/
frontend/dist/
frontend/.cache/

# =========================================
# TERRAFORM
# =========================================
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl

# =========================================
# LOCALSTACK
# =========================================
localstack/
tmp/

# =========================================
# AWS CREDENTIALS (NE JAMAIS COMMIT)
# =========================================
.aws/
credentials
config

# =========================================
# OS / SYSTEM FILES
# =========================================
.DS_Store
Thumbs.db

# =========================================
# EDITOR SETTINGS
# =========================================
.vscode/
